<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/new_app :: ~{html} (content = ~{::content})}">

<body>
    <div th:fragment="content">
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">

                    <div class="card-header display-5 fw-bold dashboard-header ms-2 p-2" th:text="#{Dashboard}">Dashboard</div>
                    <div class="card rounded-3 shadow-sm ms-3">
                        <div class="card-body p-4">
                            <div class="container p-2 rounded container-user">
                                <span th:text="${#authentication.principal.studentid}"></span>
                                <span th:text="${#authentication.principal.username}"></span>
                            </div>
                            <h3 class="p-2 h-position">
                                <strong>ตำแหน่ง :</strong>
                                <span th:text="${#authentication.principal.role.name() == 'ADMIN' ? 'กรรมการ' : 'สมาชิกชมรม'}"></span>
                            </h3>
                        </div>
                    </div>

                    <div th:if="${loans != null and !loans.isEmpty()}" class="mt-4">
                        <div class="card-header display-5 fw-bold dashboard-header ms-2 p-2">ข้อมูลการยืม</div>
                        <div class="card rounded-3 shadow-sm ms-3">
                            <div class="card-body p-4">
                                <p class="h5">
                                    <strong>อุปกรณ์ที่ยืม :</strong>
                                    <span th:each="loan, iterStat : ${loans}">
                                        <span th:text="${loan.equip.equip_name + ' x ' + loan.quantity}"></span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>